.infoBox {
    flex: 1;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox__title {
    font-weight: 700;
}

.infoBox__cases {
    color: #F53027;
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__total {
    color: #56545D;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
}